# Environment variables declared in this file are automatically made availabel to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# GLOBAL
NODE_ENV=

# CORS
ENABLED=
CORS_ORGIN=

# NEST
PORT=4000

# PRISMA DATABASE CONNECTION
DATABASE_URL=